project: pearsontechnology
environments:
  - name: sample-app-environment
    namespace: sample-app
    deployment:
      method: bluegreen
      active: green
    services:
      - name: front
        external_url: front1.sample-app.domain
        ssl: false
        port: 80
        env:
          - name: APP_PORT
            value: 80
          - name: BACK_END
            value: back.sample-app.svc.cluster.local
        limits:
           cpu: 500m
           memory: 100Mi
      - name: back
        port: 80
        replicas: 2
        hpa:
          min_replicas: 1
          max_replicas: 5
          target_cpu_utilization_percentage: 75
        env:
          - name: APP_PORT
            value: 80
        requests:
           cpu: 100m
        limits:
           cpu: 500m
           memory: 100Mi
